<% if alert %>
	<p id ="notice" ><%= alert %></p>
<% end %>
<%= form_tag do %>
 	<fieldset>
 		<legend>登陆</legend>
 		
 		<div>
 			<label for="name">学号:</label>
 			<%= text_field_tag :stuNo, params[:stuNo] %>
 		</div>
 		<div>
 			<label for="password">密码:</label>
 			<%= password_field_tag :password, params[:password] %>
 		</div>
 		<div>
 			<%= submit_tag "Login" %>
 		</div>
 	</fieldset>
 <% end %>
 <div>
 		<p>没有账号？</p>
 		<%= button_to '注册', new_user_path,:method => :get %>
 </div>
