<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  	<legend>	Enter User Details</legend>
  <div >
    <%= f.label :stuNo, '学号' %><br />
    <%= f.text_field :stuNo %>
  </div>
  <div >
    <%= f.label :password, '密码'%><br />
    <%= f.password_field :password %>
  </div>
  <div >
    <%= f.label :password_confirmation, '确认密码'%><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </fieldset>
<% end %>
